{
	"nessus": {
		"servers": [
			"x.x.x.x",
			"x.x.x.x",
			"x.x.x.x"
		],
		"port": "8834"
	},

	"database": {
		"server": "x.x.x.x",
		"port": "xxxx"
	},

	"file-paths": {
		"logs": "logs",
		"dest_folder": "nessus-reports"
	}
}
